<DOCTYPE! html>
<html>
<head>
	<title></title>
	<script src="http://cdn.pubnub.com/pubnub-3.7.1.min.js"></script>
	<link rel="stylesheet"
      href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEgBZqE59Q59F788Xd-oKno3vguJj8LnU"></script>
	<script src="javascripts/map.js"></script>
	<style>
  html, body, #map-canvas {
    height: 700px;
    margin: 0px;
    padding: 0px
  }
	</style>
</head>
<body>
	<div id="map-canvas"></div>
</body>
</html>